.themeSwitcher {
	border: none;
	background-color: transparent;
	padding: 0;

    color: white;
    margin-left: 4px;

    display: flex;
    justify-content: right;
    align-items: right;
}

.text {
    padding-right: 5px;
    color: white;
}