.themeSwitcher {
	border: none;
	background-color: transparent;
	padding: 0;

    color:  var(--text-color-secondary);
    margin-left: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}
